.App {
  text-align: center;
  height: 100vh;
  width:100vw;
  position: fixed;
  overflow-y: auto;
}

.welcome-screen{
  background:'linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/cattle.jpg) no-repeat center';
  background-size: 'cover';
  width:'100%';
  height:'70vh';
}
.welcome-note{
  color: white;
  width:100%;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  animation-name:note;
  animation-delay: -0s;
  animation-duration:2s;
  animation-timing-function: ease-in;
}
@keyframes note{
0% {display:none; top:-100%;}
50%{top:0%;}
100%{top:50%;left:50%;}
}
